.videoShort {
  margin-bottom: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.posterContainer {
  position: relative;
  cursor: pointer;
  width: 295px;
  height: 530px;
}

.posterImage {
  width: 100%;
  border-radius: 15px;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 22px;
  width: 90px;
  height: 90px;
  background-color: #D9D9D9;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.videoWrapper {
  position: relative;
  width: 295px;
  height: 530px;
  border-radius: 15px;
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
