.blockShadow {
  flex: 1;
  border-radius: 15px;
  border: 1px solid #FFA800;
  background-color: #041C34;
  transition: all 0.2s ease-in-out;
  padding: 20px;

  &:hover {
    -webkit-box-shadow: 5px 5px 0px 1px rgba(255, 168, 0, 1);
    -moz-box-shadow: 5px 5px 0px 1px rgba(255, 168, 0, 1);
    box-shadow: 5px 5px 0px 1px rgba(255, 168, 0, 1);
  }

  @media screen and (max-width: 850px) {
    -webkit-box-shadow: 2px 2px 0px 1px rgba(255, 168, 0, 1);
    -moz-box-shadow: 2px 2px 0px 1px rgba(255, 168, 0, 1);
    box-shadow: 2px 2px 0px 1px rgba(255, 168, 0, 1);
  }

}