.price {
  position: relative;
  margin-top: 75px;
}

.iconBlock {
  position: absolute;
  left: 50%;
  top: -75px;
  transform: translateX(-50%);
}

.priceBody {
  border-radius: 15px;
  border: 1px solid #FFA800;
  background-color: #041C34;
  padding: 100px 30px 30px 30px;
  transition: all 0.2s ease-in-out;

  &:hover {
    -webkit-box-shadow: 15px 15px 0px 1px rgba(255, 168, 0, 1);
    -moz-box-shadow: 15px 15px 0px 1px rgba(255, 168, 0, 1);
    box-shadow: 15px 15px 0px 1px rgba(255, 168, 0, 1);
  }

  @media (max-width: 768px) {
    &:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.heading {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.headingSmall {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;

}

.text {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}
.items {
  margin-bottom: 20px;
  // list-style-type: disc;
  // padding-left: 15px;
}
.item {
  font-size: 14px;
  color: #fff;

  &::before {
  content: "\2022";
  color: #FFA800;
  font-weight: bold;
  display: inline-block;
  width: 2em;
  font-size: 18px;
  }
}
.cost {
  font-size: clamp(2.25rem, 2.045rem + 1.02vw, 2.813rem);
  font-weight: 700;
  color: #FFA800;
  text-align: center;
}
.subtext {
  font-size: 14px;
  color: #9D9D9D;
  text-align: center;
  margin-bottom: 20px;
}

.buttonBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}