.sliderContent {
  // padding: 60px 0;
  max-width: 1210px;
}

.slider {
  padding-bottom: 60px;
}

.slideItem {
  position: relative;
  margin-top: 75px;
}

.slideItemImg {
  // margin-bottom: 20px;
  position: absolute;
  left: 50%;
  top: -75px;
  transform: translateX(-50%);
  border: 1px solid #FFA800;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #143258;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  // max-height: 70px;
  // max-width: 70px;
  // object-fit: contain;
  object-fit: cover;
}

.slideItemContent {
  // position: relative;
  border-radius: 15px;
  border: 1px solid #FFA800;
  background-color: #041C34;
  padding: 100px 30px;
  transition: all 0.2s ease-in-out;
}

.pretitle {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.title {
  font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
  line-height: 120%;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.description {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  line-height: 140%;
  margin-bottom: 20px;
  text-align: center;
  height: 3.5em; 
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  color: #cac7c7;
  margin-bottom: 10px;
}

.popupBlock {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}