.actionsBlock {
  position: relative;
  overflow: hidden;
}

.actionsBg {
  position: relative;
  width: 100%;
  height: 110vh;

  // @media screen and (max-width: 1130px) {
  //   height: 125vh;
  // }

  // @media screen and (max-width: 980px) {
  //   height: 150vh;
  // }

  // @media screen and (max-width: 660px) {
  //   height: 170vh;
  // }

  // @media screen and (max-width: 600px) {
  //   height: 160vh;
  // }

  @media (max-width: 1280px) and (max-height: 800px) {
    height: 150vh;
  }

  @media (max-width: 1024px) and (max-height: 600px) {
    height: 200vh;
  }

  @media (max-width: 768px) and (max-height: 1024px) {
    height: 160vh;
  }

    @media (max-width: 540px) and (max-height: 720px) {
    height: 200vh;
  }

  @media (max-width: 430px) and (max-height: 932px) {
    height: 180vh;
  }

  @media (max-width: 420px) and (max-height: 900px) {
    height: 180vh;
  }

  @media (max-width: 450px) and (max-height: 800px) {
    height: 250vh;
  }

  @media (max-width: 280px) and (max-height: 653px) {
    height: 280vh;
  }

    &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Высота равна 100% */
    background: rgba(20, 50, 88, 0.80);
    opacity: 0.9;
  }
}

.actionsBgImage {
  object-fit: cover;
}

.actionsWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1220px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.actionsHeading {
  font-size: clamp(2.188rem, 1.96rem + 1.14vw, 2.813rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.actionsDescription {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
  text-align: center;
  color: #fff;
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  @media screen and (max-width: 980px) {
    flex-direction: column;
    gap: 60px;
  }
}

.action {
  position: relative;
  flex: 1;
  flex-basis: calc(50% - 120px); /* 50% минус отступы между элементами */
  max-width: calc(50% - 120px); /* Ширина элемента с учетом отступов */
  box-sizing: border-box;
  margin-bottom: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem);
  display: flex; /* Добавьте display: flex */
  flex-direction: column; /* Добавьте flex-direction: column */

  &:nth-child(odd) {
    margin-left: 75px;

    @media screen and (max-width: 600px) {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 980px) {
    flex-basis: 100%;
    max-width: 100%;

    &:nth-child(even) {
      margin-left: 75px;

      @media screen and (max-width: 600px) {
        margin-left: 0;
      }
    }
  }

  @media screen and (max-width: 600px) {
    &:nth-child(3) {
      order: 4;
    }
  }
}

.actionIcon {
  border: 1px solid #FFA800;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #143258;
  position: absolute;
  top: 50%;
  left: -75px;
  transform: translateY(-50%);

  @media screen and (max-width: 600px) {
    width: 65px;
    height: 65px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.actionImage {
  max-height: 70px;
  max-width: 70px;
  object-fit: contain;

  @media screen and (max-width: 600px) {
    max-height: 35px;
    max-width: 35px;
  }
}

.actionContent {
  border-radius: 15px;
  border: 1px solid #FFA800;
  background: #041C34;
  padding: 40px 40px 40px 115px;
  flex: 1;

  @media screen and (max-width: 600px) {
    padding: 40px 17px 17px 17px;
  }
}
.actionTitle {
  font-size: clamp(1.25rem, 1.136rem + 0.57vw, 1.563rem);
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
}
.actionText {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  font-weight: 400px;
  line-height: 120%;
  color: #fff;
}

.actionsArrow1 {
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translateX(-50%);

  @media screen and (max-width: 1100px) {
    left: 45%;
    transform: translateX(-45%);
    top: 180px;
  }

  @media screen and (max-width: 980px) {
    rotate: 90deg;
    top: 260px;
  }

  @media screen and (max-width: 600px) {
    top: 210px;
  }

  @media screen and (max-width: 525px) {
    left: 44%;
    top: 235px;
  }

  @media screen and (max-width: 420px) {
    left: 43%;
  }

  @media screen and (max-width: 400px) {
    left: 42%;
  }
}
.actionsArrow2 {
  position: absolute;
  top: 40%;
  right: 250px;
  transform: translateY(-50%);
  rotate: 90deg;

  @media (max-width: 1115px) {
    top: 42%;
  }

  @media (max-width: 1040px) {
    top: 44%;
    right: 200px;
  }

  @media screen and (max-width: 980px) {
    left: 45%;
    top: 47%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: 600px) {
    top: 46%;
  }

  @media screen and (max-width: 525px) {
    left: 44%;
    top: 47%;
  }

  @media screen and (max-width: 420px) {
    left: 43%;
  }

  @media screen and (max-width: 400px) {
    left: 42%;
  }
}
.actionsArrow3 {
  position: absolute;
  right: 50%;
  transform: translateX(-50%);
  bottom: 220px;
  rotate: 180deg;

  @media screen and (max-width: 980px) {
    rotate: 90deg;
    left: 45%;
    transform: translateX(-50%);
    bottom: 300px;
  }

  @media screen and (max-width: 600px) {
    bottom: 250px;
  }

  @media screen and (max-width: 525px) {
    left: 44%;
  }

  @media screen and (max-width: 420px) {
    left: 43%;
  }

  @media screen and (max-width: 400px) {
    left: 42%;
  }
}