.actionsBlock {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  position: relative;
}

.actionsBlock::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 50, 88, 0.80);
  z-index: -1;
}

.actionsBlock::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/warsaw-plac.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
}


.actionsBg {
  position: relative;
  width: 100%;
  height: 110vh;

  // @media screen and (max-width: 1130px) {
  //   height: 125vh;
  // }

  // @media screen and (max-width: 980px) {
  //   height: 150vh;
  // }

  // @media screen and (max-width: 660px) {
  //   height: 170vh;
  // }

  // @media screen and (max-width: 600px) {
  //   height: 160vh;
  // }

    &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Высота равна 100% */
    background: rgba(20, 50, 88, 0.80);
    opacity: 0.9;
  }
}

.actionsBgImage {
  object-fit: cover;
}

.actionsWrapper {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 1220px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.actionsHeading {
  font-size: clamp(2.188rem, 1.96rem + 1.14vw, 2.813rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.actionsDescription {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
  text-align: center;
  color: #CAC7C7;
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  @media screen and (max-width: 980px) {
    flex-direction: column;
    gap: 60px;
  }
}

.action {
  position: relative;
  flex: 1;
  flex-basis: calc(50% - 120px); /* 50% минус отступы между элементами */
  max-width: calc(50% - 120px); /* Ширина элемента с учетом отступов */
  box-sizing: border-box;
  margin-bottom: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem);
  display: flex; /* Добавьте display: flex */
  flex-direction: column; /* Добавьте flex-direction: column */

  &:nth-child(odd) {
    margin-left: 75px;

    @media screen and (max-width: 600px) {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 980px) {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 0;

    &:nth-child(even) {
      margin-left: 75px;

      @media screen and (max-width: 600px) {
        margin-left: 0;
      }
    }
  }

  // @media screen and (max-width: 600px) {
  //   &:nth-child(3) {
  //     order: 4;
  //   }
  // }
}

.actionNumber {
  border: 1px solid #FFA800;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #143258;
  position: absolute;
  top: 50%;
  left: -75px;
  transform: translateY(-50%);
  font-size: clamp(2.813rem, 2.131rem + 3.41vw, 4.688rem);
  color: #FFA800;

  @media screen and (max-width: 600px) {
    width: 65px;
    height: 65px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.actionImage {
  max-height: 70px;
  max-width: 70px;
  object-fit: contain;

  @media screen and (max-width: 600px) {
    max-height: 35px;
    max-width: 35px;
  }
}

.actionContent {
  border-radius: 15px;
  border: 1px solid #FFA800;
  background: #041C34;
  padding: 40px 40px 40px 115px;
  flex: 1;

  @media screen and (max-width: 600px) {
    padding: 40px 17px 17px 17px;
  }
}
.actionTitle {
  font-size: clamp(1.25rem, 1.136rem + 0.57vw, 1.563rem);
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
}
.actionText {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  font-weight: 400px;
  line-height: 120%;
  color: #fff;
}