.header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  // background-color: transparent;
  // background-color: #031f35;
  transition: all ease-in-out .2s;

  @media (max-width: 768px) {
    padding: 35px 0;
    background-color: #031f35;
  }
}

/* Add the styles for the header when scrolled */
.headerScrolled {
  background-color: #031f35;
  
  @media (min-width: 768px) {
    padding: 15px 0;
  }
}

.buttonSecondaryScrolled {
  height: 10px;
}

.headerWpapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(0.313rem, -5.799rem + 12.73vw, 3.75rem);
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.headerLogoImage {
  transition: transform 0.2s ease-in-out;
  height: 40px;
  &:hover {
    transform: scale(0.98);
  }

    @media (max-width: 1080px) {
      max-width: 70%;
      object-fit: contain;
    }

  @media (max-width: 768px) {
    max-width: 100%;
    &:hover {
      transform: scale(1);
    }
  }
}

.headerMenu {
  // flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 90px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

.nav {
  transition: all ease-in-out 0.2s;
  display: flex;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
  }
}

.nav-item {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-item:hover {
  @media (min-width: 768px) {
    // background-color: #ff7300;
    color: #ff7300;
  }
}

.nav-item:hover .sub-menu {
  // display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

// .nav-item-wrapper {
//   @media (min-width:768px) {
//     height: 100%;
//   }
// }

// .linkWrapper {
//   height: 100%;
// }

.navList {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: 920px) {
    gap: 20px;
  }
}
.navListItem {
  color: #f9f9f9;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  font-style: normal;
  // font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
  text-transform: capitalize;

  &:hover {
    color: #ffa800;
  }

  &.active {
    color: #ffa800;
    font-size: 50px;
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #ffa800;
    transition: all ease-in-out 0.2s;
  }

  &:hover {
    @media (min-width: 768px) {
      color: #ffa800;

      &::after {
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    font-size: 1.5rem;
    &:hover {
      color: #f9f9f9;
    }
  }
}

.navLinkActive {
  color: #ffa800;

  &::after {
    width: 100%;
  }
}

.languageDesktop {

  @media (max-width: 768px) {
    display: none;
  }

}
.languageMobile {
  display: none;

  @media (max-width: 768px) {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.socialMobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

  .sub-menu {
    display: none;
    position: static;
    transition: all ease-in-out 0.2s;
  }

  .sub-menu-open {
    display: block;
    transition: all ease-in-out 0.2s;
  }

  .sub-menu-arrow {
    width: 12px;
    // height: 10px;
    margin-left: 5px;
    transition: transform 0.2s;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    cursor: pointer;
  }

  .sub-menu-arrow.open {
    transform: rotate(180deg);
  }

.burgerMenu {
  display: none;
}

@media (max-width: 768px) {
  .headerWpapper {
    flex-direction: column;
  }

  .headerLogo {
    position: absolute;
    top: -18px;
    left: 10px;
  }

  .headerMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 50px 20px;
    background-color: #031f35;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 10;
  }

  .navVisible {
    transform: translateX(0%);
  }

  .navList {
    flex-direction: column;
    gap: 20px;
  }

  .headerMenuListItem {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .burgerMenu {
    display: block;
    margin-left: 3px;
    align-self: center;
    color: white;
    position: absolute;
    top: -10px;
    right: 10px;
    transition: all 0.2s ease-in-out;
  }

  .burgerMenu svg {
    transition: all 0.1s ease-in-out;
  }

  .icon {
    transition: all 0.2s ease-in-out;
  }
}