.popupTitle {
  font-size: clamp(1.75rem, 1.295rem + 2.27vw, 3rem);
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.popupContent {
  width: 500px;

  @media (max-width: 505px) {
    width: 350px;
  }

  @media (max-width: 360px) {
    width: 300px;
  }
}