.sliderWrapper {
  // position: relative;
  padding-top: 30px;
  padding-bottom: 50px;
}

.sliderContainer {
  max-width: 600px;

  @media screen and (max-width: 600px) {
    max-width: 500px;
    margin: 0 auto;
  }

  @media screen and (max-width: 500px) {
    max-width: 400px;
  }

  @media screen and (max-width: 400px) {
    max-width: 350px;
  }

  @media screen and (max-width: 350px) {
    max-width: 300px;
  }
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.review {
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  line-height: 170%;
  font-style: italic;
  color: #fff;
  margin-bottom: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
}

.textBottom {
  margin-bottom: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  text-align: center;
  font-style: italic;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  color: #cac7c7;
}