@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #143258;
}

/* img {
  width: 100%;
} */

textarea {
  resize: none;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.swiperButtonPrev {
  background-color: #031f35;
  padding: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease-in-out;

  @media (max-width: 1024px) {
    display: none;
  }
}

.swiperButtonPrev:hover {
  background-color: inherit;
  transform: translateY(-50%) scale(1.1);
  border: 1px solid #fff;
}

.swiperButtonNext {
  background-color: #031f35;
  padding: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease-in-out;

  @media (max-width: 1024px) {
    display: none;
  }
}

.swiperButtonNext:hover {
  background-color: inherit;
  transform: translateY(-50%) scale(1.1);
  border: 1px solid #fff;
}

.customButtonPrev {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.customButtonNext {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
  }

  .swiper-pagination-bullet-active {
    background-color: #ffa800;
  }
}

/* for GallerySlider component */
/* describe ImageGallery */
/* .image-gallery {
  max-width: 700px;
} */
/* for GallerySlider component */
/* describe ImageGallery */

/* Accordion styling */
.szh-accordion__item-content {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.item {
  border-bottom: 1px solid #ccc;
}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  color: #007bff;
  background-color: transparent;
  border: none;
}

.itemBtn:hover {
  background-color: #f3f3f3;
}

.itemBtnExpanded {
  background-color: #e7e7e7;
}

.itemContent {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
  padding: 1rem;
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}
/* End accordion styling */

/* styles for table */
    /* Общие стили для таблицы */
    /* core/table */
    .wp-block-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 15px;
        background-color: #fff;
        border-radius: 15px;

        table {
          width: 100%;
          table-layout: fixed;
        }
    }

    .wp-block-table tr:first-child {
        font-weight: bold;
        color: #333;
        
        td {
          text-align: center;
        }
    }

    .wp-block-table td {
        border: 1px solid #9D9D9D;
        border-top: none;
        padding: 12px;
        text-align: left;
    }

    .wp-block-table td:first-child {
        border-left: none;
    }

    .wp-block-table td:last-child {
        border-right: none;
    }

    .wp-block-table tr:last-child td {
        border-bottom: none;
    }

    /* Стили для заголовков */
    /* .wp-block-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        color: #333;
    } */

    /* Чередующиеся цвета для строк */
    /* .wp-block-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    } */

    /* Наведение на строки */
    .wp-block-table tbody tr:hover {
        background-color: #e0e0e0;
    }

    /* Мобильные стили (пример) */
    @media (max-width: 600px) {
        .wp-block-table th, .wp-block-table td {
            font-size: 14px;
        }
    }
/* end styles for table */