@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #031f35;
}

img {
  width: 100%;
}

textarea {
  resize: none;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.swiperButtonPrev {
  background-color: #031f35;
  padding: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease-in-out;

  @media (max-width: 1024px) {
    display: none;
  }
}

.swiperButtonPrev:hover {
  background-color: inherit;
  transform: translateY(-50%) scale(1.1);
  border: 1px solid #fff;
}

.swiperButtonNext {
  background-color: #031f35;
  padding: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease-in-out;

  @media (max-width: 1024px) {
    display: none;
  }
}

.swiperButtonNext:hover {
  background-color: inherit;
  transform: translateY(-50%) scale(1.1);
  border: 1px solid #fff;
}

/* for GallerySlider component */
/* describe ImageGallery */
/* .image-gallery {
  max-width: 700px;
} */
/* for GallerySlider component */
/* describe ImageGallery */